{% extends 'base.html.twig' %}
{% block navbar %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block body %}
    <main class="main-content">
        {% include "_preloader.html.twig" %}

        <!-- Start Sample Area -->
        <section class="sample-text-area">
            <div class="container box_1170">
                <h3 class="text-heading">Confirmez votre adresse email</h3>
                <p class="sample-text">
                    Un mail de confirmation à été envoyé à votre adresse email : <u></u>. Veuillez vérifier votre compte afin de confirmez.

                    <br><a href="{{ absolute_url(path('app_register_resend_email')) }}" class="text-dark">Renvoyer le lien</a>
                </p>
            </div>
        </section>
        <!-- End Sample Area -->
    </main>
{% endblock %}

{% block title %}

{% endblock %}

