{% include '_header.html.twig' %}
<body>
{% block navbar %}
{% include '_top_nav.html.twig' %}
{% endblock %}
{% block body %}{% endblock %}
</body>
{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}
{% include '_scripts.html.twig' %}
{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
</body>
</html>